/* ==================Common styles================ */
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}

img {
    display: block;
}

.list 
{
    list-style-type: none;
}

.link {
    text-decoration: none;
 }

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
 }   


body {
font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;
}
/* ==================Common styles================ */


/* ===============Header styles====================== */
.page-header .container {
  display: flex;
  justify-content: space-between;  
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    column-gap: 24px;
}

.page-nav {
    display: flex;
    align-items: center;
   }

.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    }

.address-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;  
    padding: 24px 0;
  }

.logo { 
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-right: 76px;
}

span {
    color: #2e2f42;
    font-family: inherit;
}

.menu-link {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
color:#2E2F42;
display: block;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline::after {
    content: '';
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: absolute;
}

.underline .menu-link {
    color: #404BBF;
}

.address-menu-link {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;  
color: #434455;
 }

.address-menu-link:hover,
.address-menu-link:focus {
    color: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ===============Header styles====================== */


/* =============Hero styles====================== */

.hero {
background-color:#2e2f42;
padding-top: 188px;
padding-bottom: 188px;
background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/bg-hero.jpg");
background-size: cover;
}
 

.main-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff; 
width: 496px;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
max-width: 496px;
}

.order-service-btn {  
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
background-color: #4D5AE5;
color:  #FFFFFF; 
align-items: center;
margin: 0 auto;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}


.order-service-btn:hover,
.order-service-btn:focus {
background-color: #404BBF;
color:  #FFFFFF;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============Hero styles====================== */


/* =============Benefits styles================ */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.icon-benefits {
    display: flex;
    justify-content: space-between;
    gap: 24px;
   }

.icon-benefits-list {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background:#F4F4FD;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.icon-benefits-items {
    padding: 24px 100px;
}


.benefits-list-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
width: 264px;
margin-bottom: 8px;
}

.benefits-list-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;
}

.benefits-list {
display: flex;
justify-content: space-between;
gap: 24px;
height: 104px;
   
}

.benefits-list-item {
  gap: 24px;    
height: auto; 
width: calc((100% - 72px) / 4);
}
/* =============Benefits styles============== */

/* =============Team styles============== */

.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.team-list-item {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
width: calc((100% - 72px) / 4);
display: block;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    
}

.team-list-fullname {    
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em; 
color: #2E2F42;
text-align: center;
margin-bottom: 8px;
}

.team-list-position {
font-size: 16px;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

.team-list{
display: flex;
justify-content: space-between;

flex-wrap: wrap;
gap: 24px;
}

.team-card-content {
padding-top: 32px; 
padding-bottom: 32px;
}

.team-list-avatar {
    display: block;
    max-width: 100%;
    height: auto;  
}

.icon-social-networks {
    display: flex;
    justify-content: space-between;
   column-gap: 24px;
   padding-left: 16px;
   padding-right: 16px;
}

.icon-social-networks-link {
    display: flex;
    justify-content: center;
    border: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    fill: #F4F4FD;
    align-items: center;
    margin-top: 8px;
    
}
.team-list-item:hover {

}


/* =============Team styles============== */

/* =============Portfolio styles============== */

.portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.portfolio-list-product {
font-size: 20px;
font-weight: 500;
line-height: 1.20; 
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.portfolio-list-service {
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: #434455;


}

.portfolio-content {
padding: 32px 16px;

border: 1px solid #E7E9FC;
border-top: none;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-img {
      max-width: 100%;
    height: auto;
    
}

.portfolio-list-item {
     width: calc((100% - 48px) / 3); 
    display: block;
transform: translateY(0%);
}

.overlay-wrap {
 position: relative; 
    overflow: hidden; 
}

.overlay-text {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    top: 0;
    left: 0;
    background-color:#4D5AE5;
    color: #F4F4FD;
    overflow: auto;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-text {
transform: translateY(0%);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


/* =============Portfolio styles============== */


/* =============Footer styles============== */

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  }

.page-footer-content {
    display: flex;
  justify-content: space-between;
  
}

.page-footer-logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
}

.footer-logo-span {
color: #f4f4fd;
}

.page-footer-text {
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: #F4F4FD;
width: 264px;
flex-wrap: wrap;
}

.page-footer-icon {
    display: block;
    margin-left: 120px;
}

.page-footer-icon-title {
    color:#FFF;          
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.page-footer-icon-list {
    display: flex;
    column-gap: 16px;
    justify-content: space-between; 
}

.page-footer-icon-link {
    display: flex;
    justify-content: center;
    border: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    align-items: center;
    margin-top: 8px;
}

.page-footer-icon-link:hover, 
.page-footer-icon-link:focus {
    background-color: #31D0AA;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============Footer styles============== */